<html>
<head>
	<title>AES-system för svenska uppsatser</title>
</head>
<body>
	<h1>Automatiserad uppsatsrättning</h1>
	<h2>Kandidatuppsats data- och systemvetenskapliga institutionen på Stockholms universitet</h2>
	<div> 
		<h3>Ladda upp fil för bearbetning</h3>
		<form method="post" action="/" enctype="multipart/form-data">
			<input id="file-input" 
			type="file" accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document, .txt, .pdf" 
			name="file"></input>
			<input type="submit" value="Ladda upp"/>
		</form>
	</div>
</body>
</html>